{% extends "base.html" %}

{% block rss %}
  {% set rss_path = "tags/" ~ term.name ~ "/feed.xml" %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=rss_path, trailing_slash=false)}}">
{% endblock rss %}

{% block content %}

<div class="taglist-content">
	<div style="display: flex; flex-direction: row; align-items: center">
		<h2 class="title fade">
			{% set tag_data = load_data(path="content/tag-info.json") %}
			#{{ term.name }}
		</h2>
		{% if tag_data is containing(term.name) %}
			<span class="tag-alt">({{ tag_data | get(key=term.name,default="") }})</span>
		{% elif term.name is starting_with("proj-") %}
			{% set proj_name = term.name | replace(from="proj-", to="") %}
			<span class="tag-alt">(posts about the <a href="/{{proj_name}}">{{proj_name}}</a> project)
		{% endif %}
	</div>
	{% for entry in term.pages %}
    {{ macros::bit(data=entry) }}
	{% endfor %}
</div>

{% endblock content %}

