{% import "macros.html" as macros %}
{% import "misc.html" as misc %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>tadeas.dev</title>
	<link rel="stylesheet" href="{{get_url(path="style.css")}}">
	{% block rss %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
	{% endblock %}
</head>

<body>
	
	<div class="page-content">
		
		<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
			<div style="flex: 1; min-width: 500px; display: flex; flex-direction: column">
				<header>
					<h1><a href="/">tadeas</a></h1>
					<span><a href="/rss">rss</a></span>
					<span><a href="/about">about</a></span>
					<span><a target="_blank" href="https://github.com/tadeaspaule">github</a></span>
				</header>
				<div style="flex: 1">
					{% block content %} {% endblock %}
				</div>
			</div>
			{% if current_path and config.extra.pages_with_sidebar is containing(current_path) %}
				<div class="sidebar">
					<h3 class="fade" style="margin-bottom: 6px;">
						Recent links
						[<a href="/links/rss.xml">rss</a>]
						[<a href="/links">all</a>]
					</h3>
					{% set links = get_section(path="links/_index.md") %}
					{% for link in links.pages | slice(end=config.extra.sidebar_items) %}
						{{ macros::link(data=link) }}
					{% endfor %}
				</div>
			{% elif current_path and config.extra.projects_with_posts is containing(current_path) %}
				{% set project_tag = "proj-" ~ current_path | replace(from="/", to="") %}
				<div class="sidebar">
					<h3 class="fade" style="margin-bottom: 6px;">
						Recent tagged <a href="/tags/{{project_tag}}">#{{ project_tag }}</a>
					</h3>
					{% set posts = get_section(path="posts/_index.md") %}
					{% for post in posts.pages %}
						{% if post.taxonomies and post.taxonomies.tags is containing(project_tag) %}
							{{ macros::post(data=post,excerpt=true) }}
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>

	<footer>
		This site is built using <a href="https://getzola.org" target="_blank">Zola</a>.
		The content for this site is <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>.
		The <a href="https://github.com/tadeaspaule/tadeaspaule.github.io" target="_blank">code for this site</a> is <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a>.
	</footer>
</body>

</html>

