{% macro link(data, icon=false) -%}
	<div class="link">
    {{data.content | safe}}
	</div>

{% endmacro link -%}

{% macro bit(data) -%}
	<div class="post">
    {{ data.content | safe }}
		{{ misc::details(data=data) }}
	</div>

{% endmacro bit -%}


{% macro post(data, excerpt=false, icon=false) -%}
	<div class="post">
		<h3><a href="{{ data.permalink }}">
				{% if icon %}✎{% endif %}
				{{ data.title | markdown(inline=true) | safe }}
		</a></h3>
		{{ misc::details(data=data) }}
		<div class="post-body">
			{% if excerpt and data.description %}
				{{ data.description | markdown(inline=true) | safe }}
			{% elif excerpt == false %}
				{{ data.content | safe }}
			{% endif %}
		</div>
	</div>

{% endmacro post -%}

{% macro paginator(paginator) %}
	{% if paginator.number_pagers > 1 %}
		<div class="paginator">
			<span><a href="{{paginator.first}}">«</a></span>
			<span><a href="{{paginator.previous}}">‹</a></span>
			<span class="counter">{{paginator.current_index}}/{{paginator.number_pagers}}</span>
			<span><a href="{{paginator.next}}">›</a></span>
			<span><a href="{{paginator.last}}">»</a></span>
		</div>
	{% endif %}
{% endmacro %}

{% macro titletags(title) %}
	<title>tadeas.dev - {{ title }}</title>
	<meta name="twitter:title" content="tadeas.dev - {{ title }}"/>
	<meta property="og:title" content="tadeas.dev - {{ title }}"/>
{% endmacro %}

{% macro desctags(desc) %}
	<meta name="description" content="{{desc}}">
	<meta name="twitter:description" content="{{desc}}"/>
	<meta property="og:description" content="{{desc}}"/>
{% endmacro %}

