{% macro link(data, icon=false) -%}
	<div class="link">
		<h3><a target="_blank" href="{{ data.extra.url }}">
				{% if icon %}⤤{% endif %}
				{{ data.title | markdown(inline=true) | safe }}
		</a></h3>
		{{ misc::details(data=data) }}
		<div class="link-desc">
			{% if data.description %}
				{{ data.description | markdown(inline=true) | safe }}
			{% endif %}
		</div>
	</div>

{% endmacro link -%}

{% macro post(data, excerpt=false, icon=false) -%}
	<div class="post">
		<h3><a href="{{ data.permalink }}">
				{% if icon %}✎{% endif %}
				{{ data.title | markdown(inline=true) | safe }}
		</a></h3>
		{{ misc::details(data=data) }}
		<div class="post-body">
			{% if excerpt and data.description %}
				{{ data.description | markdown(inline=true) | safe }}
			{% elif excerpt == false %}
				{{ data.content | safe }}
			{% endif %}
		</div>
	</div>

{% endmacro post -%}

{% macro paginator(paginator) %}
	{% if paginator.number_pagers > 1 %}
		<div class="paginator">
			<span><a href="{{paginator.first}}">«</a></span>
			<span><a href="{{paginator.previous}}">‹</a></span>
			<span class="counter">{{paginator.current_index}}/{{paginator.number_pagers}}</span>
			<span><a href="{{paginator.next}}">›</a></span>
			<span><a href="{{paginator.last}}">»</a></span>
		</div>
	{% endif %}
{% endmacro %}
